DATABASE_URL="postgresql://neondb_owner:<password>@your-project-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://neondb_owner:<password>@your-project.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

